body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 1em;
  letter-spacing: 0.1px;
  color: black;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background: linear-gradient(90deg, #c7c5f4, #776bcc);
}

.main {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 20px;
  width: 60vw;
  height: 80vh;
}

.button1 {
  width: 150px;
  margin-top: 15px;
  border-radius: 50px;
  border: 2px solid #776bcc;
  font-weight: bold;
  color: #776bcc;
  background-color: white;
}

.button1:hover {
  background-color: #776bcc;
  color: white;
}

.main .inputcss {
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px,
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.inputcss:hover {
  transform: scale(1.01);
}
